.add-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  padding: 11px 26px;
  bottom: 0;
  transform: translateY(50%);
  background: var(--white);
  border: 1px solid var(--rose-500);
  border-radius: 1000px;
  font-size: 14px;
  font-weight: 600;
  color: var(--rose-900);
  transition-property: color, border;
  transition-duration: 100ms;
  transition-timing-function: linear;

  &:hover,
  &:focus-visible {
    border: 1px solid var(--red);
    color: var(--red);
  }

  &__icon {
    width: 21px;
  }
}
