@use './util' as u;

.modal {
  padding: 40px 24px 24px;
  overflow: auto;
  background: var(--white);
  border-radius: 10px 10px 0 0;

  &__container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
  }

  &__inner-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    padding-top: 95px;
  }

  &__icon {
    width: 48px;
    margin-bottom: 24px;
  }

  &__heading {
    margin-bottom: u.rem(7);
    font-size: u.rem(40);
    font-weight: 700;
    line-height: 1.2;
    color: var(--rose-900);
  }

  &__message {
    margin-bottom: 30px;
    color: var(--rose-500);
  }

  &__order {
    padding: 4px 24px 22px;
    margin-bottom: 32px;
    overflow: hidden;
    background: var(--light-peach);
    border-radius: 8px;
  }

  &__order-list {
    margin-bottom: 23px;
  }
}

@media screen and (min-width: 792px) {
  .modal {
    margin-block: auto;
    overflow: unset;
    border-radius: 10px;

    &__container {
      justify-content: unset;
      align-items: center;
      overflow: auto;
    }

    &__inner-container {
      display: flex;
      justify-content: unset;
      align-items: center;
      width: 100vw;
      min-height: 100vh;
      padding-block: 80px;
      overflow: auto;
      border-radius: 0;
    }
  }
}
