@use './util' as u;

.product {
  &__category {
    margin-bottom: u.rem(2);
    font-size: u.rem(14);
    color: var(--rose-500);
  }

  &__name {
    font-weight: 600;
    color: var(--rose-900);
  }

  &__price {
    font-weight: 600;
    color: var(--red);
  }
}
